/* CSS STYLESHEET */

/* * {
    border: 2px solid white;
} */


body {
    background-color: #C8102E;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 55px;
    font-size: 1.35rem;
    color: white;
}

a:hover {
    opacity: 0.7;
}

a:link {
    color: #C8102E

}

a:visited {
    color: #C8102E;
}

.nav5 {
    margin-right: 50px;
}

.logo-image {
    width: 65px;
    height: 90px;
    margin-left: 50px;
}